*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


/*********
HEADER
***********/
#site_header{
    background-color: #FDBB40;
    width:550px;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    position: relative;
}

header img{
    width: 150px;
    position: absolute;
    top: -25px;
    right: -50px;
}

h1{
    font-weight: bold   ;
    font-size:2rem;
}

/*********
MAIN
***********/

#site_main{
    background-color: white;
    width:550px;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

#site_main img{
    height:40px;
    margin-right: 10px;
}

#site_main #burger_name{
    font-size: 1.5rem;
    margin: 20px;
    border: none;
    width: 50%;
}

h3{
    margin-left: 20px;
    font-weight: 200;
    font-size:1.2rem;
}

.ingredients{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 60%;
}

.ingredients span{
    color: #D33359;
}
.ingredients input{
    margin: 15px;
}

.ingredients .form-group{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

#site_main #discount {
    width: 40%;
    display:inline-block;
}

.coupon span{
    display: inline-block
}

.coupon{
    margin: 20px;
    margin-top: 0;
}

.calc{
    display: flex;
    justify-content: center;
}

.calc button{
    padding:10px 20px;
    border-radius: 5px;
    border: none;
    background-color:#FDBB40;
    font-size: 1rem;
    font-weight: 900;
}




/*********
FOOTER
***********/

#site_footer{
    background-color: #D33359;
    width:550px;
    color: white;
    height: 15vh;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.3rem;
    justify-content: space-between;
}
